<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uhfsample">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UHFSample">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BarcodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.cipherlab.barcodebaseapi.PASS_DATA_2_APP" />
                <action android:name="sw.reader.barcodebaseapi.CALLBACK" />
                <action android:name="sw.reader.decode.complete" />
                <action android:name="action.reader.decode_data" />
                <action android:name="com.cipherlab.barcode.action.BARCODE_DATA" />
                <action android:name="com.cipherlab.barcode.GeneralString.Intent_BARCODE_SERVICE_BROADCAST" />
            </intent-filter>
        </receiver>
    </application>
</manifest>